/* Header Variables */
@navigation__background: #fff;
@header-panel__background-color: @color-gray-light7;
@header-panel__text-color: @color-gray-middle5;
@header-icons-color: @color-gray-middle5;

/* Footer Variables*/
@copyright__background-color: false;
@footer__background-color: false;
@footer__color: @color-gray-light8;
@footer-version__color: @footer__color;
@footer-copyright__color: @footer__color;
@footer-link__color: @footer__color;
@footer-link__text-decoration: false;
@footer-link__hover__color: darken(@footer__color, .5);
@footer-link__hover__text-decoration: underline;


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

  .page-header {

    .header {

      a {
        color: @color-gray-middle5;
      }

      &.panel {
        display: flex;
        justify-content: space-between;
        .lib-font-size(16);

        &:before, &:after {
          content: none;
        }


        > .header.links {
          float: none;
          margin: 0;

          .greet {
            margin: 0;
          }
        }
      }

      &.content {
        display: flex;
        align-items: center;
        position: relative;
        padding: 36px 20px;

        .block-search {
          padding: 0;
        }

        .logo {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          .lib-css(margin, 0);
        }

        .authorization-link {
          border-right: 1px solid @color-gray-middle5;
          list-style-type: none;
          padding-right: 14px;
          margin-left: auto;

          &:before {
            padding-right: 5px;
          }

          .lib-icon-font(
                  @icon-account,
            @_icon-font-size: 22px,
            @_icon-font-color: @header-icons-color,
            @_icon-font-color-hover: @header-icons-color-hover
          );
        }
      }
    }

    .minicart-wrapper .action.showcart .counter.qty {
      .lib-css(background-color, @color-white);
      .lib-css(color, @color-gray-middle5);
    }
  }

  .block-search {

    .action.search {
      left: 10px;
      .lib-css(opacity, 1);
    }

    input {
      width: 30px;
      border-radius: 5px;
      padding: 0 0 0 33px;
      .lib-css(transition, .3s ease width);
      .lib-css(border, none);
      .lib-input-placeholder(lighten(@color-gray-middle5, .8), @form-element-input__font-weight);

      &:hover {
        width: 300px;
        padding-left: 30px;
      }
    }
  }

  .accordion {
    display: flex;
  }

  .sub-footer {
    border-bottom: 1px solid @color-gray-darken6;
    border-top: 1px solid @color-gray-darken6;
  }

  .sub-footer-item {
    padding: 60px 0;
    width: 300px;
    text-align: center;

    h4 {
      .lib-css(color, @color-gray-darken6);
      .lib-css(font-weight, @font-weight__heavier)
    }

    p {
      .lib-css(color, @footer__color);
    }
  }

  .sub-footer-container {

    &:extend(.footer.content);
    display: flex;
    justify-content: space-around;
  }

  .form.subscribe {
    position: relative;

    .actions {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .footer .heading:extend(.sub-footer-item h4) {}

  .copyright {
    text-align: left;
    .lib-css(color, @footer__color);
  }
}
