<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
?>
<?php $storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt();?>
<span data-action="toggle-nav" class="action nav-toggle"><span><?= /* @escapeNotVerified */ __('Toggle Nav') ?></span></span>
<a
    class="logo"
    href="<?= $block->getUrl('') ?>"
    title="<?= /* @escapeNotVerified */ $storeName?>">
    <svg xmlns="http://www.w3.org/2000/svg" width="327px" viewBox="0 0 327.44 27.63">
        <defs>
            <style>.cls-1{fill:#231f20;}</style>
        </defs>
        <title>Olive And Cocoa Logo</title>
        <g id="Layer_2" data-name="Layer 2">
            <path class="cls-1"
                  d="M15.55,0c8.61,0,15.39,6,15.39,13.7S24.11,27.63,15.45,27.63,0,21.52,0,13.7,6.69,0,15.55,0M15.4,26.62c7.29,0,11.09-6.3,11.09-12.69C26.49,5.66,21.63,1,15.65,1,8.81,1,4.46,6.12,4.46,13.75S8.86,26.62,15.4,26.62"/>
            <path class="cls-1"
                  d="M55.23,27H40.52v-.54c1.63,0,2.31-.81,2.31-3.1V11.76c0-2.12-.68-2.66-2.31-2.66V8.55h7.27V9.1c-1.7,0-2.27.93-2.27,2.89V24.32c0,1.45.6,1.77,2.3,1.77h4c2.45,0,3.12-.49,4-3.12h.6l-1.24,4"/>
            <path class="cls-1"
                  d="M69.77,23.52c0,2.25.6,2.93,2.3,2.93V27h-7.3v-.54c1.66,0,2.3-.59,2.3-2.93V12c0-2.31-.57-2.92-2.3-2.92V8.55h7.3V9.1c-1.7,0-2.3.7-2.3,2.92v11.5"/>
            <path class="cls-1"
                  d="M91,27.25h-.57l-6.27-15C83.2,10,82.7,9.16,80.79,9.1V8.55h7.37V9.1c-1.45,0-2.16.7-1.56,2.15l5,11.91,4.71-11.49c.64-1.58.32-2.57-1.52-2.57V8.55h5.92v.58C99.15,9.13,98,10.19,97,12.7L91,27.25"/>
            <path class="cls-1"
                  d="M122.94,20h-.6c-.43-1.58-.75-1.77-2.84-1.77h-5v6.6c0,.9.35,1.25,1.48,1.25h3.55c3,0,3.72-.13,4.93-2.54h.6L124.11,27H109.47v-.54c1.59,0,2.3-.46,2.3-2.9V12c0-2.28-.57-2.92-2.3-2.92V8.55h14.64v3.09h-.39c-.46-2-1.17-2.19-3.4-2.19h-5.85v7.89h5.67c1.38,0,1.91-.23,2.2-1.81h.6V20"/>
            <path class="cls-1"
                  d="M147.91,21.65c0-3,2.34-5.12,4.79-6.33a5.32,5.32,0,0,1-1.53-3.64c0-2.07,2.52-4.81,6.7-4.81a9.33,9.33,0,0,1,3.81.65.6.6,0,0,1,.4.67,21.16,21.16,0,0,1-.24,3c-.1.4-.16.46-.3.46s-.17-.09-.17-.49A2.87,2.87,0,0,0,160.31,9a4.44,4.44,0,0,0-3.05-1.12c-1.87,0-3.85.87-3.85,3.34,0,2,1.57,3.76,4.83,6.73,1,.95,4.9,4,5.88,4.69a7.09,7.09,0,0,0,1.6-4.35,1.61,1.61,0,0,0-.58-1.3,2.47,2.47,0,0,0-1.53-.4c-.21,0-.37-.06-.37-.19s.27-.18.51-.18a34.25,34.25,0,0,1,3.74.18c.47,0,.54.25.54.53,0,2.13-1.73,4.75-3.09,6.17a27.83,27.83,0,0,0,4.31,2.59A9.83,9.83,0,0,0,173,26.71c.28,0,.44,0,.44.19s-.27.18-.54.18h-3.06c-2.31,0-3.06-.18-6.49-2.46a11.39,11.39,0,0,1-7.82,2.8c-5.47,0-7.61-3.48-7.61-5.77m14.61,2.44c-1.76-1.2-4.86-3.67-5.67-4.41A45.53,45.53,0,0,1,153.18,16a4.78,4.78,0,0,0-2.69,4.42c0,3.27,2.62,5.55,6.12,5.55a8.82,8.82,0,0,0,5.91-1.88"/>
            <path class="cls-1"
                  d="M216.13,8.14c-1.42-5-4.41-7.13-9.42-7.13C199.72,1,196,6.12,196,12.88c0,7.91,4.51,13.1,11,13.1a10.86,10.86,0,0,0,10.13-5.79l.76.64c-1.93,4.18-6.53,6.8-12.1,6.8-7,0-14.28-4.32-14.28-13.1,0-8.37,6.32-14.53,15-14.53,3.64,0,6.37,1.1,8.1,1.1a1.63,1.63,0,0,0,1.57-.82H217V8.14h-.86"/>
            <path class="cls-1"
                  d="M237.61,8.1c6,0,10.78,4.21,10.78,9.59s-4.79,9.75-10.85,9.75-10.82-4.28-10.82-9.75,4.69-9.59,10.89-9.59m-.11,18.63c5.11,0,7.77-4.41,7.77-8.88,0-5.79-3.41-9-7.59-9-4.79,0-7.83,3.57-7.83,8.91s3.08,9,7.65,9"/>
            <path class="cls-1"
                  d="M273.41,13.79c-1-3.47-3.08-5-6.59-5-4.89,0-7.52,3.57-7.52,8.3,0,5.54,3.16,9.17,7.73,9.17a7.6,7.6,0,0,0,7.09-4.05l.53.45c-1.34,2.92-4.57,4.76-8.47,4.76-4.89,0-10-3-10-9.17,0-5.86,4.43-10.17,10.49-10.17,2.55,0,4.46.77,5.67.77a1.12,1.12,0,0,0,1.09-.58H274v5.5h-.61"/>
            <path class="cls-1"
                  d="M292.34,8.1c6,0,10.78,4.21,10.78,9.59s-4.79,9.75-10.85,9.75-10.81-4.28-10.81-9.75,4.68-9.59,10.88-9.59m-.1,18.63c5.1,0,7.76-4.41,7.76-8.88,0-5.79-3.4-9-7.59-9-4.78,0-7.83,3.57-7.83,8.91s3.08,9,7.66,9"/>
            <path class="cls-1"
                  d="M320,19.52h-6.56l-1.38,3.7c-.67,1.81-1,3.19,1.1,3.23V27h-5.25v-.54c1.92-.26,2.38-1.2,3-2.9l5.59-15.2h2.1l5.88,15.87c.6,1.71,1.1,2.23,2.91,2.23V27h-7.16v-.54c1.38,0,2.05-.55,1.59-1.81L320,19.52m-3.26-8.94h-.07l-2.84,7.82h5.71Z"/>
        </g>
    </svg>
</a>
