@nav__border-color: @color-black;
@_nav-level0-item-color: @color-gray-darken5;
@_nav-level0-item-padding: 0 6px;
@_nav-font-weight: @font-weight__regular;
@_nav-font-size: 16px;

.navigation {
  .lib-css(font-size, 15px);
  .lib-css(font-weight, @font-weight__regular);

  .ui-menu {
    max-width: 768px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .level0.parent > .level-top > .ui-menu-icon {
    display: none;
  }
}

.nav-sections-item-content {
  border-top: solid 1px @nav__border-color;
}
