/* New Colors */
@color-gray-light7: #F3F3F3;
@color-gray-light8: #808285;
@color-gray-middle5: #606161;
@color-gray-darken5: #2F2F2F;
@color-gray-darken6: #414042;



/* Buttons */
@button-primary__background: transparent;
@button-primary__border: 1px solid @color-black;
@button-primary__color: @color-black;
@button-primary__hover__background: @color-black;
@button-primary__hover__border: false;
@button-primary__hover__color: @color-white;

