<?php
// @codingStandardsIgnoreFile
?>
<!-- Sample Footer: Part of this was planned to be into page builder-->
<div class="footer-container">
    <div class="footer">
        <div class="sub-footer">
            <div class="sub-footer-container">
                <div class="sub-footer-item">
                    <h4><?= __('Need Help?') ?></h4>
                    <p><?= __('Our customer support team is here to help,
pick up the phone and call now.') ?></p>
                    <button class="action primary"><?= __('555-555-5555') ?></button>
                </div>
                <div class="sub-footer-item">
                    <h4><?= __('Subscribe to our Newsletter') ?></h4>
                    <p id="newsletter_info"><?= __('Get the latest updates on new products
and&nbsp;upcoming catalogs.') ?></p>
                    <form class="form subscribe" novalidate
                          action="<?= $block->escapeUrl($block->getFormActionUrl()) ?>"
                          method="post" data-mage-init='{"validation": {"errorClass": "mage-error"}}'
                          id="newsletter-validate-detail">
                        <div class="field newsletter">
                            <div class="control">
                                <input
                                        name="email" type="email" id="newsletter"
                                        placeholder="<?= $block->escapeHtml(__('Enter your email address')) ?>"
                                        data-mage-init='{"mage/trim-input":{}}'
                                        data-validate="{required:true, 'validate-email':true}"
                                        aria-labelledby="newsletter_info">
                            </div>
                        </div>
                        <div class="actions">
                            <button class="action subscribe primary sr-only"
                                    title="<?= $block->escapeHtmlAttr(__('Subscribe')) ?>"
                                    type="submit" aria-label="Subscribe">
                                <span><?= $block->escapeHtml(__('Subscribe')) ?></span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="sub-footer-item">
                    <h4><?= __('100% Satisfaction Guaranteed') ?></h4>
                    <p><?= __('It is our passion to make giving and receiving gifts a beautiful experience.') ?></p>
                    <button class="action primary"><?= __('Learn More') ?></button>
                </div>
            </div>
        </div>
        <div class="footer content">
            <!-- todo: move content to the admin for client to maintain -->
            <div class="accordion">
                <div class="footer links">
                    <h4 class="heading"><?= __('Shop') ?></h4>
                    <ul class="content">
                        <li><a href="<?= $this->getUrl('') ?>"><?= __('New Arrivals') ?></a></li>
                        <li><a href="<?= $this->getUrl('') ?>"><?= __('Featured') ?></a></li>
                        <li><a href="<?= $this->getUrl('') ?>"><?= __('Top Rated') ?></a></li>
                        <li><a href="<?= $this->getUrl('') ?>"><?= __('Gifts By Price') ?></a></li>
                        <li><a href="<?= $this->getUrl('') ?>"><?= __('All Gifts') ?></a></li>
                    </ul>
                </div>
                <div class="footer links">
                    <h4 class="heading"><?= __('Business & Corporate') ?></h4>
                    <ul class="content">
                        <li><a href="<?= $this->getUrl('') ?>"><?= __('Business Gifting') ?></a></li>
                        <li><a href="<?= $this->getUrl('') ?>"><?= __('Custom Logo Hot Iron Branding') ?></a></li>
                        <li><a href="<?= $this->getUrl('') ?>"><?= __('Our Services') ?></a></li>
                        <li><a href="<?= $this->getUrl('') ?>"><?= __('Placing an Order') ?></a></li>
                        <li><a href="<?= $this->getUrl('') ?>"><?= __('Business Gifting FAQs') ?></a></li>
                    </ul>
                </div>
                <div class="footer links">
                    <h4 class="heading"><?= __('Support') ?></h4>
                    <ul class="content">
                        <li><a href="<?= $this->getUrl('') ?>"><?= __('801-538-5404') ?></a></li>
                        <li><a href="<?= $this->getUrl('') ?>"><?= __('help@oliveandcocoa.com') ?></a></li>
                        <li><a href="<?= $this->getUrl('') ?>"><?= __('Shipping & Returns') ?></a></li>
                        <li><a href="<?= $this->getUrl('') ?>"><?= __('Terms of Use') ?></a></li>
                        <li><a href="<?= $this->getUrl('') ?>"><?= __('Privacy Policy') ?></a></li>
                    </ul>
                </div>
                <div class="footer links">
                    <h4 class="heading"><?= __('About Olive & Cocoa') ?></h4>
                    <ul class="content">
                        <li><a href="<?= $this->getUrl('') ?>"><?= __('Our Story') ?></a></li>
                        <li><a href="<?= $this->getUrl('') ?>"><?= __('Employment') ?></a></li>
                        <li><a href="<?= $this->getUrl('') ?>"><?= __('Site Map') ?></a></li>
                        <li><a href="<?= $this->getUrl('') ?>"><?= __('Stories/Blog') ?></a></li>
                    </ul>
                </div>
            </div>
            <div class="social-media-link">
                <i class="social-link facebook"></i>
                <i class="social-link twitter"></i>
                <i class="social-link pinterest"></i>
                <i class="social-link instagram"></i>
            </div>
        </div>
    </div>
</div>
<script>
    require([
        'jquery',
        'collapsible',
        'matchMedia',
        'domReady!',
    ], function ($) {
        'use strict';

        var helpers = {
            domReady: function () {
                var accordionResize = function ($accordions) {
                    $accordions.forEach(function (element, index) {
                        var $accordion = $(element);
                        mediaCheck({
                            media: '(min-width: 768px)',
                            entry: function () { // desktop
                                $accordion.collapsible('activate');
                                $accordion.collapsible('option', 'collapsible', false);
                            },
                            exit: function () { // mobile
                                $accordion.collapsible('deactivate');
                                $accordion.collapsible('option', 'collapsible', true);
                            }
                        });
                    });
                };

                var $container = $('.accordion'),
                    $accordions = [],
                    accordionOptions = {
                        collapsible: true,
                        header: '.heading',
                        trigger: '',
                        content: '.content',
                        openedState: 'active',
                        animate: false
                    };

                $container.children("div").each(function (index, elem) {
                    var $this = $(elem),
                        $accordion = $this.collapsible(accordionOptions);

                    $accordions.push($accordion);
                });


                accordionResize($accordions);
            }
        };

        helpers.domReady();
    });
</script>
